{% extends "expenses/base.html" %}
{% block content %}
<h2>Manager Dashboard</h2>
<p><a class="btn" href="{% url 'approvals_queue' %}">View Pending Approvals</a></p>
{% if pending %}
  <h3>Pending Approvals</h3>
  <table>
    <thead><tr><th>#</th><th>Submitter</th><th>Amount (orig)</th><th>In Company CCY</th><th>Status</th><th>Action</th></tr></thead>
    <tbody>
    {% for step in pending %}
      <tr>
        <td>{{ step.expense.id }}</td>
        <td>{{ step.expense.submitter }}</td>
        <td>{{ step.expense.amount }} {{ step.expense.currency_code }}</td>
        <td>{{ step.expense.amount_converted }} {{ step.expense.company.currency_code }}</td>
        <td>{{ step.expense.status }}</td>
        <td>
          <a class="btn" href="{% url 'approve_expense' step.expense.id %}">Approve</a>
          <a class="btn secondary" href="{% url 'reject_expense' step.expense.id %}">Reject</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
